<section
  class="w-full flex flex-col-reverse lg:flex-row items-center justify-center px-6 md:px-12 lg:px-16 xl:px-20"
>
  <div id="about-us" class="w-full max-w-3xl lg:max-w-2xl text-center lg:text-left">
    <h1
      class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
        font-bold text-heading-1"
    >
      Quienes
      <span
        class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20%
        via-primary via-30% to-green-600"
        >somos</span
      >
    </h1>
    <p class="text-gray-300 text-xl sm:text-xl leading-relaxed">
      En Datellus, desarrollamos soluciones de Inteligencia Artificial con un enfoque en Visión por Computadora e IA Generativa, aplicando Deep Learning para resolver desafíos en diversas industrias.
    </p>
    <p class="text-gray-300 text-xl sm:text-xl leading-relaxed mt-2">
      Utilizamos IA Generativa para automatizar reportes, crear asistentes conversacionales, mejorar imágenes y generar contenido de alto valor. Además, ofrecemos un programa de optimización de procesos empresariales, reduciendo tiempos y mejorando la eficiencia operativa.
  </p>
  <p class="text-gray-300 text-xl sm:text-xl leading-relaxed mt-2">
    Además, contamos con un programa de apoyo a las empresas para optimización de procesos utilizando programación. Nuestro programa permite la reducción temporal de diferentes procesos brindando un sistema de mejora continua al cliente.
  </div>
  <!-- Imagen Derecha -->
  <div class="w-full max-w-2xl flex justify-center">
    <img
      src="images/aboutus.jpg"
      alt="Sobre nosotros"
      class="w-full max-w-md sm:max-w-lg md:max-w-xl lg:max-w-[500px] h-[400px] object-cover rounded-lg shadow-xl"
    />
  </div>
</section>
