---
// Datos para el footer
const footerData = {
  year: new Date().getFullYear(),
};
---

<footer class="text-claro/20 py-6 mt-30">
  <div class="container mx-auto flex flex-col items-center">
    <p class="text-sm text-center mb-4 mt-2">
      Developed by lea - {footerData.year}
    </p>
  </div>
</footer>