<div class="container mx-auto px-4 py-8">
    <div class="relative wrap overflow-hidden">
        <div class="border-2-2 absolute border-opacity-20 border-gray-700 h-full border left-1/2"></div>
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-12 h-12 rounded-full">
                <h1 class="mx-auto font-semibold text-lg text-white">1</h1>
            </div>
            <div class="order-1 bg-gray-400 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-gray-800 text-xl">Análisis</h3>
                <p class="text-gray-700 leading-tight">Nuestro proceso es simple y preciso. Comenzamos recopilando antecedentes del problema que queremos resolver, los datos disponibles y la solución final que esperamos construir.</p>
            </div>
        </div>
        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-12 h-12 rounded-full">
                <h1 class="mx-auto font-semibold text-lg text-white">2</h1>
            </div>
            <div class="order-1 bg-gray-400 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-gray-800 text-xl">Planificación</h3>
                <p class="text-gray-700 leading-tight">Una meta sin un plazo es solo un sueño. Generamos una hoja de ruta con diferentes hitos y entregables para nuestro cliente, a través de reuniones periódicas para evaluar constantemente la calidad de nuestro trabajo. Sabemos que una solución de IA toma tiempo, por lo que nos resulta fundamental tener un mapa que nos pueda guiar hacia nuestro objetivo final.</p>
            </div>
        </div>
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-12 h-12 rounded-full">
                <h1 class="mx-auto font-semibold text-lg text-white">3</h1>
            </div>
            <div class="order-1 bg-gray-400 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-gray-800 text-xl">Ejecución</h3>
                <p class="text-gray-700 leading-tight">Una vez establecido nuestro mapa de trabajo, nos ponemos en marcha para cumplir a cabalidad cada hito de él. Para Datellus es fundamental la responsabilidad y puntualidad con cada uno de sus clientes : es uno de nuestros valores. Ejecutamos cada uno de nuestros objetivos al pie de la letra para entregar soluciones de calidad que permitan mejorar el desempeño de cada organización. .</p>
            </div>
        </div>
    </div>
</div>